* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* navbar  */


nav {
    padding: 30px 60px;
    background-color: black;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

nav li {
    list-style: none;
    color: white;
}

.brand a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.containerNav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    flex: 1 0 300px;
}

#paddingToRight {
    padding-left: 200px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.container {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.link {
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 1rem;
    height: 100%;
}

.nav-toggle {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}


@media only screen and (max-width: 800px) {
    .container {
        position: fixed;
        left: -100%;
        top: 5rem;
        flex-direction: column;
        background-color: black;
        width: 100%;
        border-radius: 10px;
        text-align: center;
        transition: 0.3s;
        box-shadow:
            0 10px 27px rgba(0, 0, 0, 0.05);
    }

    #paddingToRight {
        padding-left: 0;
    }

    .container.active {
        left: 0;
    }

    .container li {
        margin: 2.5rem 0;
    }

    .nav-toggle {
        display: block;
        cursor: pointer;
        margin-left: 200px;
    }

}


.container a {
    margin: 0px 30px;
    color: white;
    text-decoration: none;
    padding: 5px;
}

.container a:hover {
    color: grey;
}

nav a {
    width: 100%;
}

#register {
    border: 3px solid transparent;
    border-color: #007186;
    padding: 16px 38px;
    border-radius: 12px;
    background-color: #51797B;
    transition: 0.3s ease all;
}

#register:hover {
    background-color: black;
    transition: 0.4s;
}

body{
    background-image: url("./../assets/NewsUpdate/Walpaper\ background.jpg");
    background-size: cover;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    height: fit-content;
    background-attachment: fixed;
    background-position: center;
    font-family: 'Inter', sans-serif;
}

.title{
    margin-top: 150px;
}

.news-title{
    position: relative;
    color: white;
    font-size: 48px;
    text-align: center;
    margin: 100px auto 80px auto;
}

.date{
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    font-size: 20px;
    text-align: right;
    margin-right: 100px;
}

.line{
    position: relative;
    width: 360px;
    align-items: center;
    color: white;
    margin: auto;
}

.content{
    margin: 80px 100px 20px 100px;
    position: relative;
    text-align: left;
    color: white;
    font-size: 20px;
}

/* Footer */

.footer{
    background-color:rgb(83, 83, 83);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-contain{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-self: center;
    padding-left: 150px;
}

.footer-section{
    display: flex;
}

#logo-footer{
    margin: 20px 100px 20px 20px;
    background-color: rgb(5, 0, 66);
    background-image: linear-gradient(to top, aqua 0%, rgb(1, 1, 104));
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.footer-item{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.address h2{
    color: rgba(255, 255, 255, 0.6);;
}

.address{
    color: rgba(255, 255, 255, 0.6);;
    margin-bottom: 1rem;
}

.contact h2{
    color: rgba(255, 255, 255, 0.6);;
}

.contact{
    color: rgba(255, 255, 255, 0.6);;
    margin-bottom: 1rem;
}

.footer-link a{
    margin: 0px 50px 0px 50px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    margin-bottom: 1rem;
}

.footer-link a:hover{
    color: red;
    transition: 0.3s ease-out;
}

.social-media h2{
    color: rgba(255, 255, 255, 0.6);
}
.social-media a{
    text-decoration: none;
}
